@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul.slick-dots li {
  margin: 0;
}

li.slick-active div {
  background: white;
  width: 12px;
  height: 12px;
  transform: translate(-2px, -2px);
}

.slick-next:before {
  color: #333 !important;
  margin-left: 5px;
}

.slick-prev:before {
  color: #333 !important;
  margin-right: 15px;
}
